<section id="admin-sport__index">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @facility_owners.each do |facility_owner| %>
          <tr>
            <td><%= facility_owner.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
