<h1>Admin Dashboard</h1>
<p>Welcome, <%= current_admin.email %>!</p>

<ul>
  <li><%= link_to "Manage Teams", admin_teams_path %></li>
  <li><%= link_to "Manage Players", admin_players_path %></li>
</ul>
