<footer class="text-body-secondary py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About Us</h5>
        <p class="text-body-secondary">We connect athletes with top-quality training facilities to help them achieve their goals.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-body-secondary">Find a Training Ground</a></li>
          <li><a href="#" class="text-body-secondary">Sports Categories</a></li>
          <li><a href="#" class="text-body-secondary">Become a Partner</a></li>
          <li><a href="#" class="text-body-secondary">FAQs</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Stay Connected</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-body-secondary">Facebook</a></li>
          <li><a href="#" class="text-body-secondary">Twitter</a></li>
          <li><a href="#" class="text-body-secondary">Instagram</a></li>
          <li><a href="#" class="text-body-secondary">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <p class="text-center mt-4">&copy; 2024 Sports Training Grounds Finder. All rights reserved.</p>
  </div>
</footer>
